.bigbox{
    width: 90%;
    margin: auto;
}




.box1{
    width: 100%;
    height: 16px;
    background-color:navy;
    margin: auto;
}

.p{
    color: white;
    font-size: xx-small;
    text-align: right;
    margin-right: 80px;
}
.smallbox1{
    width: 100%;
    margin: auto;
    height: 70px;
}

.画像1{
    margin-top: 30px;
    margin-left: 70px;
    width: auto;
    height: auto;
    margin: auto;
}

.aaa{
    margin-left: 70px;
    width: auto;
    margin: auto;

}



.wrapper{
    display: flex;
font-size: 15px;
}


.店頭{margin-top: 15px;
    margin-left: 80px;}
.こんな{margin-top: 15px;
    margin-left: 30px;}
.お客{margin-top: 15px;
    margin-left: 30px;}
.Q{margin-top: 15px;
    margin-left: 30px;}
.店鋪情報{margin-top: 15px;
    margin-left: 30px;}
.お問合せ{height: 100%;
        background-color: red;
        color: white;
        text-align: center;
        margin-left: 70px;
        margin-top: 15px;
        width: 150px;
        border-radius: 50px;
        }    


.画像2{
    height: auto;
    width: 100%;
}


.box100{
    display: flex;
    width: 100%;
}










.box70{
    width: 70%;
    height: 200px;
    background-color: navy;
}
.面倒な{
    text-align: center;
    margin-top: 5px;
   
    margin: auto;
    color: white;
}
.box3{
    background-color: wheat;
    height: 30px;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
}
.新車{
    text-align: center;
    color: red;
}
.基本{
    text-align: center;
    color: white;
}
.wrapper2{
    display: flex;
}
.box1a{
    margin-left: 75px;
    height: 55px;
    width: 75px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.box2a{
    margin-left: 50px;
    height: 55px;
    width: 75px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.wrapper3{
    display: flex;
}

.box30{
    width: 30%;
    height: 200px;
    background-color: blue;
}

.box3a{
    
    height: 90%;
    width: 70%;
    background-color: gray;
    margin: auto;
    border-radius: 20px;

}
.web{
    color: white;
    text-align: center;

}

.box5{
    position: absolute;
    width: 100%;
    margin: auto;
    background-color: wheat;
    height: 400px;
}

.当店{

    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 20px;
    color: red;
    text-align: center;
}
.画像3{
    height: auto;
    width: 100px;
    position: absolute;
    left: 47%;
    top: 15%;
}

.wrapper3{
    display: flex;
}

.imgcar{
    position: relative;
    margin-top: 70px;
    margin-left: 100px;
}

.imgcar2{
    margin-top: 70px;
    margin-left: 100px; 
}
.imgcar3{
    position: relative;
    margin-top: 70px;
    margin-left: 100px;
}






